* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
}
#index {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 10vh 100vh 10vh;
    grid-template-areas:
    'hd hd hd'
    'na na na'
    'ma ma as'
    'ft ft ft'
    ;
}
#nykommande_byggnader {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 10vh 100vh 10vh;
    grid-template-areas:
    'hd hd hd'
    'na na na'
    'ma ma ma'
    'ft ft ft'
    ;
}
main {
    grid-area: ma;
}
.hem_extra {
    margin: 0 1vw 0 1vw;
    padding: 20px;
    font-family: sans-serif;
    font-size: 15px;
    display: block;
    max-width: 1360px;
    letter-spacing: 1.2px;
}
.hem_extra_ul {
    display: flex;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.hem_extra_li {
    padding-right: 4px;
}
.hem_extra_li_2 {
    font-weight: 700;
}
.hem_extra_li_2::before {
    content: "/";
    padding: 0 10px 0 10px;
}
a {
    text-decoration: none;
    color: rgb(192, 54, 54);
    /* color: rgb(29, 29, 212); */
}
img {
    height: 100px;
    width: 90vw;
}
#om_oss {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 10vh 100vh 10vh;
    grid-template-areas:
    'hd hd hd'
    'na na na'
    'ma ma as'
    'ft ft ft'
    ;
}
#sok_bostad {
    display: grid;
    overflow-y: hidden;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 10vh 70vh;
    grid-template-areas:
    'hd hd hd'
    'na na na'
    'd2 d2 d3'
    /* 'd1 d2 d3' */
    ;
}
#sok_lista {
    grid-area: d1;
}
#sok_karta {
    grid-area: d2;
}
#sok_filter {
    grid-area: d3;
    display: flex;
    flex-basis: auto;
    flex-direction: column;
    font-size: 20px;
    line-height: 30px;
    position: relative;
    margin-left: 60px;
    background-color: rgb(247, 247, 247);
    /* overflow: scroll; */
}
.insok_filter {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
}
.insok_filter::-webkit-scrollbar {
    width: 4px
}
.insok_filter::-webkit-scrollbar-thumb {
    background: rgb(197, 197, 197);
}
.insok_filter::-webkit-scrollbar-thumb:hover {
    background: rgb(173, 173, 173);
}
.insok_filter::-webkit-scrollbar-thumb {
    border-radius: 2px;
}
.ininsok_filter {
    margin-bottom: 40px;
}
.filterbutton {
    cursor: pointer;
    float: right;
    border: none;
    background: none;
    color: rgb(192, 54, 54);
    /* color: rgb(29, 29, 212); */
    text-decoration: underline;
}
legend {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    font-family: sans-serif;
    font-size: 25px;
    color: #333333;
}
.checkbox {
    display: flex;
    padding: 15px 0 16px 0;    
    align-items: center;
    color: #333333;
}
.incheckbox {
    height: 25px;
    width: 25px;
}
.labelalla {
    padding-left: 10px;
    font-family: sans-serif;
}
.titel {
    margin-top: 5px;
    margin-bottom: 40px;
}
.ininantalrum {
    display: flex;
    justify-content: space-between;
}
.antalrum {
    padding: 10px 10px;
    border-radius: 3px;
    font-size: 20px;
}
#maxhyra {
    padding-right: 160px;
}
.filterfooter {
    display: flex;
    padding: 10px 30px;
    border-top-color: salmon;
    border-top-width: 5px;
    border-top-style: solid;
    background-color: white;
    font-family: sans-serif;
    position: relative;
    align-items: center;
    font-weight: bolder;
    color: rgb(192, 54, 54);
}
#filtrerabutton {
    margin-left: 60px;
    padding: 15px 35px;
    background-color: salmon;
    border-color: rgb(240, 221, 221);
    border-radius: 3px;
    border-width: 5px;
}
#statistik {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 20vh 10vh 25vh 150vh 10vh;
    grid-template-areas:
    'hd hd hd'
    'na na na'
    'ar ar ar'
    'ms ms ms'
    'ft ft ft'
    ;
}
article {
    grid-area: ar;
    position: relative;
}
h1 {
    display: block;
    font-family: sans-serif;
    font-size: 48px;
    letter-spacing: 1.5px;
    color: #333333;
    position: absolute;
    bottom: 0;
    margin-left: 2vw;
}
#main_stat {
    grid-area: ms;
    margin-top: 100px;
    display: grid;
    color: white;
    column-gap: 15px;
    row-gap: 15px;
    margin: 0 2vw 0 2vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
    'hy hy mo ko'
    'hy hy su su'
    'ti ti se se'
    ;
}
#main_stat_div {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 700;
}
.main_stat_indiv {
    display: flex;
    align-items: center;
}
.main_stat_ikon {
    height: 60px;
    width: auto;
    margin-bottom: 15px;
}
.hyra {
    grid-area: hy;
    background: salmon;
}
.tid {
    grid-area: ti;
    background: salmon;
}
.monad {
    grid-area: mo;
    background: salmon;
}
.ko {
    grid-area: ko;
    background: salmon;
}
.summering {
    grid-area: su;
    background: salmon;
}
.senaste {
    grid-area: se;
    background: salmon;
}
header {
    grid-area: hd;
    position: relative;
    display: flex;
    align-items: center;
}
#head {
    text-decoration: none;
    list-style: none;
    display: flex;
    float: right;
    position: absolute;
    right: 0;
}
/* .dum_header {
    margin-right: 17px; ???
} */
aside {
    grid-area: as;
    background: salmon;
    border: royalblue;
    border-width: 5px;
}
.ikon_li {
    display: flex;
}
.navhead {
    text-decoration: none;
    color: #333333;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    margin-left: 15px;
    font-family: sans-serif;
    font-size: 15px;
}
.ikon {
    width: 40px;
    height: auto;
    margin: 10px;
}
.mainnav {
    grid-area: na;
    background: salmon;
    display: flex;
    align-items: center;
}
#navi {
    text-decoration: none;
    list-style: none;
    display: flex;
}
.navnav {
    text-decoration: none;
    color: white;
    padding: 17.5px 70px;
    transition-duration: 0.4s;
    cursor: pointer;
    font-family: sans-serif;
    font-size: 20px;
}
.navnav:hover {
    background-color: rgb(192, 54, 54);
    color: white;
}